D\Dña {{content.nombre}} {{content.apellidos}} expone:

<p><cite>{{content.mensaje}}</cite></p>

Datos de contacto:
<ul>
	<li>Teléfono: {{content.telefono}}</li>
	<li>Email: {{content.mail}}</li>
</ul>
