D\Dña {{asis.Nombre}} {{asis.Apellidos}} se ha inscrito en las jornadas con la siguiente información:
<ul>
	<li>Dirección: {{asis.direccion}} {{asis.cp}}, {{asis.prov}}</li>
	<li>Teléfono: {{asis.telefono}}</li>
	<li>Email: {{asis.mail}}</li>
	<li>Universidad: {{asis.universidad}}</li>
	<li>Cargo: {{asis.cargo}}</li>	
</ul>
{% if asis.facturacion %}
	Los Datos de Facturación son los siguientes:
	<ul>
		
		<li>Razón Social:{{asis.fact.razon}} {
		<li>CIF/NIF:{{asis.fact.cif}}</li>
		<li>Dirección Social:{{asis.fact.dir}} {{asis.fact.cp}} {{asis.fact.localidad}} {{asis.fact.prov}} {{asis.fact.pais}}</li>

	</ul>
{% endif %}