<p>Estimado/a {{asis.Nombre}} {{asis.Apellidos}}.</p>

<p>Su inscripción  ha quedado registrada a las {{"now"|date("d-m-Y H:i:s")}}.</p>

<P>Para formalizar su asistencia debe seguir los siguientes pasos:</P>

<ol>
	<li>Hacer el ingreso de <b>80€</b> en el número de cuenta <b>ES90 3067 0109 3422 1238 7621</b></li>

	<li>Poner en el concepto del ingreso: [<b>02.11.Jornadas Observatorios UJAEN y {{asis.Nombre}} {{asis.Apellidos}}</b>].</li>

	<li><b>Enviar una copia del justificante</b> del ingreso a la dirección de correo electrónico: <a href="mailto:emple@ujaen.es">emple@ujaen.es</a>, con el asunto: <i><b>Jornadas Observatorios UJAEN {{asis.Nombre}} {{asis.Apellidos}}</b></i>.</li>

	<li>Se le notificará la recepcion del justificante de pago via e-mail.</li>
</ol>

<p>Podrá acceder al listado de los asistentes a las VI Jornadas de Observatorios de Empleo Universitario, en la <a href="">página web</a> a través de un usuario y contraseña que le será facilitado una vez recibamos el email de confirmación de pago.</p>

<p>Atentamente Universidad de Jaén</p>