<p>Estimado/a {{asis.Nombre}} {{asis.Apellidos}}.</p>

<p>Su inscripción  ha quedado registrada a las {{"now"|date("d-m-Y H:i:s")}}.</p>

<P>Para formalizar su asistencia debe hacer un <b> ingreso de (EUROS)€</b> al número de <b>cuenta XXXX-XXXX-XXXX-XXXX</b> con el <b>concepto</b> "<i>asistencia observatorio {{asis.dni}}</i>". Y enviar una copia del <b>justificante de pago a emple@ujaen.es</b> con el <b>asunto</b> "<i>[Jornadas]: Inscripción {{asis.dni}}</i>".</P>