<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>{% block title %}congreso{% endblock %}</title>

        {% block stylesheets %}
            

            {% for item in head_link %}
                
                <link rel="{{item.rel}}" type="{{item.type}}" href="{{asset(item.href)}}"/>


            {% endfor %}
            {% for item in scripts %}
                
                <script src="{{asset(item)}}"></script>


            {% endfor %}


        {% endblock %}
        
    </head>
    <body>
        
        {% block menu_nav %}
            <nav class="navbar navbar-default">
            <div class="container">
                  <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav">
                        {% for item in urls %}
                            <li>                
                                <a href="{{item.url}}" class="leaf">{{item.title}}</a>
                            </li>

                        {% endfor %}
                      </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container-fluid -->
        </div>            
                </nav>
                                    
                            
        {% endblock %}    

        {% if app.session.flashBag.has('success') %}

            {% for msg in app.session.flashBag.get('success') %}
                <div class="alert alert-success">
                    <div class="container">{{ msg }}</div>
                </div>
            {% endfor %}

        {% endif %}
        
        {% if app.session.flashBag.has('warning') %}

            {% for msg in app.session.flashBag.get('warning') %}
                <div class="alert alert-warning">
                    <div class="container">{{ msg }}</div>
                </div>
            {% endfor %}

        {% endif %}

        {% if app.session.flashBag.has('danger') %}

            {% for msg in app.session.flashBag.get('danger') %}
                <div class="alert alert-danger">
                    <div class="container">{{ msg }}</div>
                </div>
            {% endfor %}

        {% endif %}

        {% block body %}{% endblock %}
        <footer>
            {% block footer1 %}{% endblock %}        
            <div>
                <a href="/politica-de-privacidad">Politica de Privacidad</a>
            </div>
            {% block footer3 %}{% endblock %}                        
        </footer>
        {% block javascripts %}{% endblock %}

    </body>
    
</html>
