{% extends "base.html.twig" %}

{% block title %}   {{title_page}}  {% endblock %}


{%block body %}
<div class="container">
    {%block admin%}{%endblock%}
    <div class="row">
        {% for asis in publics %}

        <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h4>{{asis.nombre}} {{asis.apellidos}}</h4>
            <div class="info-principal">    
                <a href="{{asset(asis.image)}}" ><img src="{{asset(asis.image)}}" class="foto-asistente"></a>
                <p>{{asis.universidad}}</p>
                    <p>{{asis.cargo}}</p>   
                    <p>Teléfono: {{asis.telefono}}</p>
                    <p>Email: {{asis.email}}</p>
            </div>
        </div>

        {%endfor%}
    </div>
</diV>
{% endblock %}

{% block footer %}


<div class="container">


</div>

{% endblock %}
