{% extends "base.html.twig" %}

{% block title %}   {{title_page}}  {% endblock %}

 
{%block body %}
<div id="portada">
	<img src="{{asset('css/images/portada.jpg')}}">
</div>
<div class="container">
    
    <div id="patners">
		
		{% for rol, group in patners %}
			{% if rol == "Organizador" %}
				{% set title="Organizadores" %}
			{% elseif rol=="Colaborador" %}
				{% set title="Colaboradores" %}
			{% endif %}
			<h1>{{title}}</h1>
			<div class="row" id="{{rol}}">
				{% for id, patner in group %}
					
					{% if rol == "Organizador" %}
						{% set col="col-lg-6" %}
					{% else %}
						{% set col="col-lg-3" %}
					{% endif %}
					<div id="{{id}}" class="col {{col}} vcenter">
						<span></span>
						<img src="{{asset(patner.uri)}}" title="{{patner.nombre}}" alt="{{patner.nombre}}"/>
					</div>

				{% endfor %}
			</div>
		{% endfor %}
	</div>
</div>
    
    <div id="overlay" class="map">
    	
    	<iframe src="{{map}}" width="100%" height="500px" id="map"></iframe>
    </div>

{% endblock %}


	



{% block footer %}


    <div class="container">
        

    </div>

{% endblock %}
