{% extends "base.html.twig" %}

{% block title %}   {{title_page}}  {% endblock %}
{%block body %}
<table class="table-striped">
	<thead>
		<tr>
			<th class="text-center dni">
				DNI
			</th>
		
			<th class="text-center nombre">
				Nombre
			</th>

			<th class="text-center apellidos">
				Apellidos
			</th>

			<th class="text-center telefono">
				Telefono
			</th>

			<th class="text-center mail">
				email
			</th>

			<th class="text-center cena">
				Asiste a Cena
			</th>

			<th class="text-center perfil">
				Perfil Público
			</th>

			<th class="text-center pagado">
				Pagado
			</th>
		</tr>

	</thead>
	<tbody>
		{% set cena=0 %}
		{% for asis in content %}

		<tr>
			<th class="text-center dni">
				{{asis.dni}}
			</th>

			<th class="nombre">
				{{asis.nombre}}
			</th>

			<th class="apellidos">
				{{asis.apellidos}}
			</th>

			<th class="text-center telefono">
				{{asis.telefono}}
			</th>

			<th class="mail">
				{{asis.email}}
			</th>

			<th class="text-center cena">
				{% if asis.cena==true %}
					<span>Si</span>
					{% set cena=cena+1 %}
				{% else %}
					<span>No</span>
				{% endif %}
			</th>

			<th class="text-center perfil">
				
				{% if asis.public==true %}
					<span>Si</span>
				{% else %}
					<span>No</span>
				{% endif %}
			</th>

			<th class="text-center pagado">
				{{asis.pagado}}
			</th>
		</tr>


		{% endfor %}
	</tbody>

</table>
<div style="display:block;margin-top:15px;">
<p style="font-weight:bolder;padding-left:15px;">Asistentes a la cena: {{cena}}</p>
<p style="font-weight:bolder;padding-left:15px;">Asistentes: {{content|length}}</p>

<a class="btn btn-primary" href="/admin/asistentes/download">Descargar</a>
	
</div>
{%endblock %}