{% extends "base.html.twig" %}

{% block title %}   {{title_page}}  {% endblock %}


{%block body %}
<div class="container">    
    <a id="add-medio" href="/admin/como-llegar/add" title="Añadir Medio Transporte"></a>
    {% for met in content %}
        {% autoescape false %}
        	<div id="{{met.id}}" class="col-medio">
                
        		<h4>{{met.nombre}} <a href="/admin/como-llegar/{{ met.id }}/edit" title="Editar" id="edit-medio"></a></h4>
                <div class="text">
                    {{met.text}}
                </div>
        	</div>
        {% endautoescape %}
    {%endfor%}
</div>
    
{% endblock %}

{% block footer %}


    <div class="container">
        

    </div>

{% endblock %}
