{% extends "base.html.twig" %}

{% block title %}   {{ title_page }}  {% endblock %}

{% block body %}

<div id="inscripcion" class="container">
<h1 class="page-title">{{title_page}}</h1>
	<div>
	{{ form_errors(form) }}
	</diV>
	{{ form_start(form) }}
	{{ form_end(form) }}
		
</div>
{% endblock %}