{% extends "base.html.twig" %}
{% block title %}   {{title_page}}  {% endblock %}
{% block body %}


<div id="inscripcion" class="container">
	<h1 class="page-title">{{title_page}}</h1>

	<div>
		{{ form_errors(form) }}
	</diV>

	<form name="{{form.vars.full_name}}" method="{{form.vars.method}}" enctype="multipart/form-data" >
		{% for key,value in form.children|slice(0,12) %}
		
		
		{%  if value.vars.block_prefixes.1=="text" %}
		<div class="{{value.vars.attr.class}}" id="{{value.vars.attr.id|default(value.vars.id)}}">
			<input type="{{value.vars.block_prefixes.1}}"  placeholder="{{value.vars.attr.placeholder}}"
			 maxlength="{{value.vars.attr.maxlength|default('')}}" name="{{value.vars.full_name}}" value="{{value.vars.value}}" required="{{value.vars.required}}"/>
		 </div>
		{% endif%}

		{%  if value.vars.block_prefixes.1=="file" %}
		<div>
			<label>{{value.vars.label}}</label>
			<input type="{{value.vars.block_prefixes.1}}" id="{{value.vars.id}}" name="{{value.vars.full_name}}"  required="{{value.vars.required}}"/>
		</div>
		{% endif %}

		{%  if value.vars.block_prefixes.1=="choice" %}

			<div class="{{value.vars.attr.class}}">
			{% set i=0 %}
			{% for choice in value.children %}
				{% if  choice.vars.checked ==1 %}
					{% set checked="checked='checked'"%}
				{%else%}
					{%set checked=''%}
				{%endif%}
				<div id="{{choice.vars.id}}">
				
				{% if attribute(count,i)>=35 %}
					{% set disable='disabled' %}
				{% else %}
					{% set disable=""%}
				{% endif %}

				<input  type="radio" name="{{choice.vars.full_name}}" value="{{choice.vars.value}}" required="{{choice.vars.required}}" {{checked}} {{disable|default()}}/>
				<label>{{choice.vars.label}} {{attribute(count,i)}}/35</label>
				</div>
				{%set i=i+1 %}
			{% endfor%}
			
			</div>
		{% endif%}


		{% endfor %}
		<div>
			<input	id="{{form.children.factura.vars.id}}" type="checkbox" name="{{form.children.factura.vars.full_name}}">
			<label>Deseo recibir una factura</label>
		</div>
		<div class="datos_facturacion">
		{% for key,value in form.children|slice(12,19) %}
		
		
			{%  if value.vars.block_prefixes.1=="text" %}
				{% if  value.vars.required ==1 %}
					{% set required="required='required'"%}
				{%else%}
					{%set required=''%}
				{%endif%}
				<div class="{{value.vars.attr.class}}" id="{{value.vars.attr.id|default(value.vars.id)}}">
					<input type="{{value.vars.block_prefixes.1}}"  placeholder="{{value.vars.attr.placeholder}}"
					 maxlength="{{value.vars.attr.maxlength|default('')}}" name="{{value.vars.full_name}}" value="{{value.vars.value}}" {{required}}/>
				 </div>
			{% endif %}

		{% endfor %}
	</div>
	{% for key,value in form.children|slice(19,25) %}
		
		
		{%  if value.vars.block_prefixes.1=="text" %}
		<div class="{{value.vars.attr.class}}" id="{{value.vars.attr.id|default(value.vars.id)}}">
			<input type="{{value.vars.block_prefixes.1}}"  placeholder="{{value.vars.attr.placeholder}}"
			 maxlength="{{value.vars.attr.maxlength|default('')}}" name="{{value.vars.full_name}}" value="{{value.vars.value}}" required="{{value.vars.required}}"/>
		 </div>
		{% endif%}

		{%  if value.vars.block_prefixes.1=="file" %}
		<div>
			<input type="{{value.vars.block_prefixes.1}}" id="{{value.vars.id}}" name="{{value.vars.full_name}}"  required="{{value.vars.required}}"/>
		</div>
		{% endif%}

		

		{%  if value.vars.block_prefixes.1=="checkbox" %}

				{% if  value.vars.required ==1 %}
					{% set required="required='required'"%}
				{%else%}
					{%set required=''%}
				{%endif%}
				{% if  value.vars.checked == 1 %}
					{% set checked="checked='checked'"%}
				{%else%}
					{%set checked=''%}
				{%endif%}
			<div class="{{value.vars.attr.class}}">
				<input id="{{value.vars.id}}" type="{{value.vars.block_prefixes.1}}" name="{{value.vars.full_name}}" value="{{value.vars.value}}" {{ required }} {{checked}}/>
				<label>{{value.vars.label|raw}}</label>
			</div>
		{% endif%}

		{%  if value.vars.block_prefixes.1=="submit" %}
			<input class="{{value.vars.attr.class}}" id="{{value.vars.id}}" type="{{value.vars.block_prefixes.1}}" name="{{value.vars.full_name}}" />
		{% endif%}

 		{%  if value.vars.block_prefixes.1=="hidden" %}

			<input id="{{value.vars.id}}" type="{{value.vars.block_prefixes.1}}" name="{{value.vars.full_name}}" value="{{value.vars.value}}"/>

		{% endif %}
		{{ form_row(form._token) }}

		{% endfor %}
	</form>

	<p style="margin-top:20px;font-size:16px;">
		La inscripción a las Jornadas será de 80 €. Una vez realizada la preinscripción a través de este formulario, se contactará con los preinscritos para la continuación del trámite de inscripción y recibir la información necesaria.
	</p>
</div>
{% endblock %}